{% include base_path %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <li>
          {% if post.persolink %}
            <a href="{{ post.persolink }}">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %}
          ({{ post.level }} {{ post.begin }}-{{ post.end }})
          {% if post.note %}
            {{post.note}}
          {% endif %}
          .
      </li>
  </article>
</div>
